* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8b6990;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../imegs/imeg-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.card {
  width: 600px;
  padding: 40px;
  border-radius: 16px;
  background: var(--White, #fff);
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
}

.card__title {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.card__title-text {
  color: #301534;
  font-family: "Work Sans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}
.card__subtite {
  display: flex;
  justify-content: space-between;
  color: #301534;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-items: center;
  margin-bottom: 24px;
}
.card__subtite-text {
}
.card__description {
  margin-bottom: 24px;
}
.card__list {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 600;
  flex-direction: column;
  gap: 24px;
}
.card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__link {
  color: #301534;
}
.card__link:hover{
    color:#AD28EB;
}
.card__line{
    height: 1px;
align-self: stretch;
background: #F8EEFF;
}
